<launch>

  
  <node pkg="xjrobot_simu" type="fusion_data_node" name="fusion_data_node" output="screen" >
    <param name="send_tf_flag_" value="false" type="bool"/>
  </node>

  <node pkg="xjrobot_simu" type="plotter" name="plotter" output="screen"/>

  <node pkg="xjrobot_simu" type="imu_to_odom_node" name="imu_to_odom_node" output="screen"/>

</launch>
